
.contacts {
    text-align: right;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.contacts__phone {
    color: #fff;
    font-size: 21px;
    text-decoration: none;
}
.contacts-dropduwn__hours {
    cursor: pointer;
    font-size: 14px;
    color: rgba(236, 30, 121, 0.7);
    text-decoration: none;
    border-bottom: 1px solid rgba(236, 30, 121, 0.7);
}
 
.contacts-dropduwn__time {
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 11px 18px 11px;
    background: #fff;
    width: 164px;
    position: absolute;
    text-align: left;
    right: 0;
    top: 100%;
    opacity: 0;
    transition: opacity .6s;
    right: -99999px;
    margin-top: 24px;
    cursor: pointer;
}
.contacts-dropduwn__time:after {
    content: '';
    position: absolute;
    top: -21px;
    left: 86%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    border-radius: 3px;
}

.contacts-dropduwn__time::before {
    content: '';
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}

.contacts-dropduwn:hover .contacts-dropduwn__time  {
   opacity: 1;
   right: 0;
}
.contacts-dropduwn:hover .contacts-dropduwn__hours {
    color: rgba(93, 209, 248, 0.7);
    border-bottom: 1px solid rgba(93, 209, 248, 0.7);
}
.contacts-dropduwn {
    position: relative;
}

.contacts-dropduwn__time-working-hours {
    color: #ec1e79;
}
.contacts-dropduwn__time-dinner {
    font-weight: 300;
    color: #221f1f;
}













