.image-pic {
    width: 273px;
    height: 165px;
    border-radius: 3px;
    position: relative;
}

.image {
    position: relative;
    margin-bottom: 22px;
}

.image:after {
    width: 275px;
    height: 165px;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 39, 62, 0.8);
    border-radius: 3px;
}

.image:hover:after {
    display: none;
}

.tariffs {
    margin-bottom: 66px;
}

.tariffs__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

.tariffs__item--bottom {
    margin-bottom: 74px;
}

.tariffs__item {
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.tariffs__title {
    font-size: 49px;
    font-weight: 700;
    color: #221f1f;
    margin-bottom: 42px;
}

.tariffs__tariff {
    text-align: center;
}

.tariffs__tariff-sum {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 13px;
}

.tariffs__tariff-title {
    font-size: 24px;
    font-weight: 700;
    color: #5dd1f8;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    line-height: 34px;
}

.tariffs__tariff-title:nth-child(3) {
    position: absolute;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
}

.vip {
    position: absolute;
    top: 31%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 700;
    color: #ec1e79;
    z-index: 1;
}

.tariffs__tariff-text {
    font-size: 14px;
    font-weight: 300;
    color: #221f1f;
    line-height: 1.5;
}