.welcom {
    display: flex;
    flex-direction: column;
    animation: myanimation 1s 1s forwards;
    transform-origin: center center;
    opacity: 0;
}

@keyframes myanimation {
    from {
        transform: rotate(0deg);
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
        
    }
    20% {
        opacity: 1;
        transform: rotate(-10deg);
    
    }
    40% {
        opacity: 1;
        transform: rotate(5deg);
    }
    to {
        opacity: 1;
       transform: rotate(0deg);
    
    }
} 

.welcom__btn {
    padding: 11px 22px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ec1e79;
    border: 3px solid currentColor;
}
.welcom__btn:hover {
    background: #ec1e79;
    color: #fff;
    border: 3px solid #ec1e79;
}
.welcom__logo {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}