.welcom {
    display: flex;
    flex-direction: column;
    animation: myanimation .5s 1s forwards;
    opacity: 0;
}


@keyframes myanimation {
    from {
        transform: scale(.2) rotate(30deg);
        opacity: 0;
        
    }
    40% {
        opacity: 1;
        transform: rotate(-15deg);
    
    }
    80% {
        opacity: 1;
        transform: rotate(5deg);
    }
    to {
        opacity: 1;
       transform: cubic-bezier(0,1.1,0,.99);
    
    }
} 

.welcom__btn {
    padding: 11px 22px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ec1e79;
    border: 3px solid currentColor;
}
.welcom__btn:hover {
    background: #ec1e79;
    color: #fff;
    border: 3px solid #ec1e79;
}
.welcom__logo {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}