.feature {
    margin-bottom: 67px;
    width: 88%;
}
.feature-desc__list {
    display: flex;
    justify-content: space-between;
}
.feature__title {
    margin-bottom: 64px;
    line-height: 0.78;
}
.feature-desc__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 32px 0px 12px;
}
.feature-desc__item:last-child {
    padding-right: 14px;
}
.feature-desc__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background-color: #27273e;
    border-radius: 50%;
    margin-bottom: 32px;
}
.feature-desc__situation {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2.64px;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.feature-descn-text,
.feature-desc__buns-item {
    font-size: 18px;
    color: #221f1f;
    line-height: 1.67;
}
.feature-desc__buns-item {
    text-align: left;
    padding-left: 50px;
    position: relative;
    padding-bottom: 6px;
}

.feature-desc__buns-item:before {
    content: '';
}
.feature-desc__buns-item--active:before {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #cc3366;
    left: 13px;
    top: 12px;
}